<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">


    <title>Rent-a-Car</title>

    <!-- Bootstrap core CSS -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="stylesheets/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="stylesheets/dashboard.css" rel="stylesheet">

    <link rel="stylesheet" href="./stylesheets/style.css">

    <style>
        .logo {
            margin-top: -90px;
            margin-left: -20px;
        }
        .address {
            position: relative;
            top: 100px;
            left: 90px;
            background-color: lightgrey;
            border-radius: 5px;
            width: 250px;
            border: 2px solid green;
            padding: 25px;
            margin: 25px;
        }
        .addreess1 {
            position: relative;
            top: 80px;
            left: 90px;
            background-color: lightgrey;
            border-radius: 5px;
            width: 300px;
            border: 2px solid green;
            padding: 25px;
            margin: 25px;
        }
    </style>
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">

    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <!--&lt;!&ndash;  <span class="sr-only">Toggle navigation</span>-->
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/rentacar"><img class="logo" src="./images/rentacar.png"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/rentacar">Home</a></li>
                <li><a href="/index">Car Details</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="address">
    <p><h3>Naresh Aithagoni</h3></p>
    <p>Dr.Oetker Haus</p>
    <p>Projensdorfer Straße 155</p>
    <p>24106,kiel</p>
    <p>Germany</p>
    </div>
<div class="addreess1">
    <p>Contact me on: +4917641824534</p>
    <p>email: anaresh7777@gmail.com</p>
</div>

</body>
</html>